@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_cf9t8q37wmf.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_cf9t8q37wmf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_cf9t8q37wmf.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_cf9t8q37wmf.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_cf9t8q37wmf.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_cf9t8q37wmf.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
}

.header {
  /* height: 60px; */
  /* background-color: teal; */
  align-items: center;
  box-shadow: 0px 0px 5px 5px rgba(240, 240, 240, 0.5);
}

.logo {
  /* height: 100%; */
  font-size: 45px;
  font-weight: bold;
  font-family: "webfont" !important;
  /* color: rgb(75, 170, 211); */
  color: #1C4FA6;
  text-align: left;
  margin-left: .5rem;
}

.footer {
  margin-top: 10px;
  height: 40px;
}

.footer-inner {
  color: #888888;
}

.footer-inner a {
  margin-left: 10px;
}